﻿@model isoko.Models.ApplicationViewModel.ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_login.cshtml";
}

<script src="~/Scripts/jquery-1.10.2.js">



</script>
<script src="~/Scripts/jquery.validate.js">



</script>
<link href="~/Content/chosen.css" rel="stylesheet" />
<script src="~/Scripts/chosen.jquery.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js">


</script>
<br />
<span style="color: red">@TempData["shortMessage1"]</span>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="ResetPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label">Username</label>
                    <input asp-for="UserName" class="form-control" style="width:350px" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OldPassword" class="control-label">Username</label>
                    <input asp-for="OldPassword" class="form-control" style="width:350px" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label">Username</label>
                    <input asp-for="Password" class="form-control" style="width:350px" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label">Username</label>
                    <input asp-for="ConfirmPassword" class="form-control" style="width:350px" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
            </form>
        </div>
        </div>

