﻿@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> usermanager
@inject isoko.Common.Commons com;


@{
    string Title = com.GetTitle(User.Identity.Name);
}

@if (Title == "Admin")
{
    <li>@Html.ActionLink("Users", "Index", "Account")</li>
    <li>@Html.ActionLink("Reports", "Index", "Reports")</li>
}
@if (Title == "Merchant")
{
    <li>@Html.ActionLink("Users", "Index", "Account")</li>
    <li>@Html.ActionLink("Reports", "Index", "Reports")</li>
}
@if (Title == "PSP")
{
    <li>@Html.ActionLink("Users", "Index", "Account")</li>
    <li>@Html.ActionLink("Make Payment", "Index", "Payment")</li>
    <li>@Html.ActionLink("Reports", "Index", "Reports")</li>
}
