﻿@model IPagedList<isoko.Models.MerchantPayment>
@using X.PagedList;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_admin.cshtml";
}

@{
    var message = TempData["successmessage"] ?? string.Empty;
}

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Search</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Index", "Payment", FormMethod.Get))
        {
            @Html.DropDownList("Status", new List<SelectListItem>

            {
                new SelectListItem {Text = "Email", Value = "UserEmail"},
                new SelectListItem {Text = "OrderId", Value = "OrderId"},
            }, new { @class = "form-control", style = "width:333px" })
            <br />
            @Html.TextBox("Search", null, new { @class = "form-control", style = "width:333px" })
            <br />
            <input type="submit" class="btn btn-success" value="Search">
        }
    </div>
</div>
<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                Merchant Name
            </th>
            <th>
                Order Id
            </th>
            <th>
                User Email
            </th>
            <th>
                Product
            </th>
            <th>
                Unit Price
            </th>
            <th>
                Quantity
            </th>
            <th>
                Isokopay Fee
            </th>
            <th>
                Shipping
            </th>
            <th>
                Status
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MerchantName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsokopayFee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shipping)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="Payment" asp-route-id="@item.Id">Make Payment</a>
            </tr>
        }
    </tbody>
</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
<script type="text/javascript">
    var message = '@message';
    if(message)
        alert(message);
</script>